.find-content{
	background:#f1f1f1;
}
.find-list{
	margin:13px 0;
	&.list-block {
		.item-inner:after{
			background-color: inherit;
		}
		.item-content{
			border-bottom: 1px solid #f1f1f1;
		}
		.item-link .item-inner{
			background:inherit;
		}
	}
	>ul{
		margin-bottom: 9px;
	}
	.find-icon{
		width: 42px;
		height: 42px;
	}
}

.findall-ad{
	padding:8px 0;
}
.jiugongge{
	padding:0 7px 0 10px;
}
.jiugongge-block{
	background:#fff;
	margin:0 3px 2px 0;
	text-align: center;
	font-size: 12px;
	padding:10px 0;
	.icon{
		height: 35px;
		width: 35px;
		margin-bottom: 10px;
	}
}